project:
  type: book
  output-dir: _book

execute:
  freeze: auto
  
book:
  title: "ODD Training Material"
  sidebar:
    style: "docked"
    background: light
    collapse-level: 4
  
  site-url: https://mcwimm.github.io/
  repo-url: https://github.com/mcwimm/training4ODD
  repo-branch: main
  repo-actions: [source, edit, issue]
  downloads: [pdf, epub]

  chapters:
    - index.qmd
    - part: chapters/overview/overview.qmd
      chapters:
        - chapters/overview/purpose.qmd
        - chapters/overview/entities.qmd
        - chapters/overview/process.qmd
    - part: chapters/design/design.qmd
      chapters:
        - chapters/design/basic.qmd
        - chapters/design/emergence.qmd
        - chapters/design/adaptation.qmd
    - part: chapters/details/details.qmd
      chapters:
        - chapters/details/initialization.qmd
        - chapters/details/input.qmd
        - chapters/details/submodels.qmd
    - part: chapters/examples/examples.qmd
    - references.qmd
    
  page-footer:
    left: |
      ODD Training Material is compiled by TEAM.
    right: |
      This book was built with <a href="https://quarto.org/">Quarto</a>.

comments:
  hypothesis: true
  
bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css

editor: visual

