:root {
  --bs-body-font-family: system-ui, sans-serif;
  --bs-headline-font-family: serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--bs-headline-font-family);
  margin-bottom: 1rem;
}

div.callout-note.callout {
    border-left: 1px solid #dee2e6;
}

div.callout-caution.callout {
    border-left: 1px solid #dee2e6;
}

.dg-box {
  border: 2px solid #e9e9e9;  
  border-radius: 8px; 
  padding: 0.5em; 
  margin: 1em -0.5em;
  
  h2 {
    margin-top: 0;
  }
}

.dg-box--border-left {
  border-width: 0 0 0 2px;
  /*border-radius: 0px;*/
  border-color: purple;
  background-color: #f9f6f9;
}